<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Birthday</th>
    <th>Color</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>
</table>


<br>
<h2>Requests:</h2>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% @rentals.each do |rental| %>
  <tr>
    <td><%= rental.start_date %></td>
    <td><%= rental.end_date %></td>
  </tr>
  <% end %>
</table>

<br>
<a href="<%= edit_cat_url(@cat) %>">Edit cat</a>

<br>
<form action="<%= cat_url(@cat) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="delete">

  <button>Delete Cat</button>

</form>
