<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>
<%= debug params %>
<hr>

<% if flash[:notices] %>
<p><%= flash[:notices] %></p>
<% end %>

<nav>
  <ul>
    <li><a href="<%= cats_url %>">Home</a></li>
    <li><a href="<%= new_cat_url %>">Add a cat</a></li>
    <li>
      <a href="<%= new_cat_rental_request_url %>">
        Request a cat Rental
      </a>
    </li>
  </ul>
</nav>

<hr>

<%= yield %>

</body>
</html>
